body {
  font-family: "Lato";
  margin: 0;
}

pre {
  padding: 32px;
  background-color: #F8F8F9;
  margin-bottom: 32px;
}

pre code.hljs {
  background-color: #F8F8F9;
  padding: 0;
}

.sample-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.sample-container > {
  flex: 1 1 auto;
}

.layout-container {
  position: relative;
}

.layout-container > * {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}
.flex-column.center, .flex-row.center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-fixed {
  flex: 0 0 auto;
}

.flex-fluid {
  flex: 1 1 auto;
}

.brand, .menu-item {
  line-height: 54px;
}

.brand {
  color: rgba(0, 113, 96, 0.98);
}

.brand, .menu-item {
  cursor: pointer;
  display: inline-block;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

.brand:hover, .menu-item:hover {
  /*text-shadow: 0 0 2px rgba(12, 12, 12, 0.95);*/
  border-bottom: 4px solid rgba(0, 113, 96, 0.80);
}

.menu-item {
  padding: 0 7px;
  color: rgba(0, 113, 96, 0.98);
}

.vertical-scroll {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

body.fixed-height {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

article > h1 {
  font-weight: 400;
}

